@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Página padrão Acaiteria*/


*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   background-color: #ffffff;
}
/*Cabeça do site*/
header{
    height: 60px;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #292929;
}
header strong{
    color: #ffffff;
}

header .logo-cabeca{
    width: 100%;
}

header .logo-cabeca img{
    margin-top: 10px;
    width: 110px;
    margin-left: 20px;
}

header .menu-cabeca a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    padding: 10px;
    transition: 0.1s;
    border-radius: 5px;
    font-size: 1.2em;
    gap: 0.5em;
}

header .menu-cabeca a:hover{
    background-color: #ffd000;
    color: #ffff;
}

header .menu-cabeca a p{
    display: none;
}
header .logo-cabeca{
    font-size: 1.5em;
    font-weight: bold;
}
header .menu-cabeca{
    display: flex;
    list-style: none;
    gap: 0.5em;
    margin-top: 10px;
}
header nav{
    margin-right: 10px;
}
header nav #botao-mobile{
    display: none;
}

main{
    background-color: #ebeae7;
}

main .apresentacao{
    padding-top: 70px;
    background-image: linear-gradient( to right, #100f16, #232127);
    /*background-color: #d81b3b;*/
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 2px #29292950
}

main .perfil{
    text-align: center;
    max-width: 50%;
    margin: auto;
}

main .perfil img{
    max-width: 150px;
    border-radius: 85px;
    text-align: center;
}

main .perfil h1{
    color: #ffff;
    font-size: 2em;
    font-weight: 590;
}

main .perfil p{
    color: #ffffffb2;
    font-size: 1.5em;
}

main .perfil .funcionamento{
    margin: auto;
    width: 20%;
    background-color: #ffff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

main .perfil .funcionamento #funcao{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
    display: none;
}

main .perfil .funcionamento #funcao h1{
    color: #1e7916;
    font-size: 1em;
    font-weight: 600;
}

main .perfil .funcionamento #funcao i{
    color: #1e7916;
}

main .perfil .funcionamento #funcao2{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
    display: none;
}

main .perfil .funcionamento #funcao2 h1{
    color: #791616;
    font-size: 1em;
    font-weight: 600;
}

main .perfil .funcionamento #funcao2 i{
    color: #791616;
}

main .apresentacao .localizacao{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #ffff;
    font-size: 1.2em;
    max-width: 85%;
    margin: auto;
    margin-bottom: 10px;
}

main .apresentacao .tempo-entrega{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #ffff;
    font-size: 1.2em;
    max-width: 85%;
    margin: auto;
}

main .itens .barra-item{
    margin: auto;
    max-width: 79%;
    margin-top: 30px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #292929;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

main .itens .barra-item h1{
    color: #ffffff;
    font-weight: 590;
}

main .itens .containers{
    margin: auto;
    width: 80%;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

main .itens .containers .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    width: 85%;
    margin: auto;
    align-items: center;
}

main .itens .containers .cards .card{
    cursor: pointer;
    text-align: center;
    background-color: #ffff;
    width: 48%;
    transition: 0.1s;
    display: flex;
    border-bottom: solid 2.5px;
    border-color: #b8b7b7;
}
main .itens .containers .cards .card:hover{
    transform: scale(1.05);
}

main .itens .containers .cards .card img{
    width: 150px;
    height: 100%;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

main .itens .containers .cards .card .descricao{
    text-align: center;
    margin: auto;
}

main .itens .containers .cards .card h1{
    color: #292828;
    font-size: 1.2em;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 590;
}

main .itens .containers .cards .card p{
    color: #383636;
    font-size: 0.9em;
    text-align: center;
    max-width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;

}

main .botao{
    margin-top: 40px;
    text-align: center;
}

main .botao button{
    margin-bottom: 80px;
    border: none;
    font-size: 1.7em;
    border-radius: 10px;
    padding: 15px;
    background-color: #4da735;
    box-shadow: 2px 2px 5px #23222471;
    color: #ffff;
    cursor: pointer;
    transition: 0.1s;
}

main .botao button:hover{
    transform: scale(1.05);
}

main .itens .barra-item .botao-menu{
    background-color: #b8464600;
    border: none;
    color: #ffff;
    cursor: pointer;
    font-size: 1.5em;
    transition: 0.1s;
}

main .itens .barra-item .botao-menu:hover{
    transform: scale(1.15);
}

footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #292929;
    color: #cfcfcf;
}


/*ID de Controle*/
#container0{
    display: none;
}
#container{
    display: none;
}
#container2{
    display: none;
}
#container3{
    display: none;
}
#container4{
    display: none;
}

/*Classe de controle js*/
/*.hide{
    display: none;
}*/

@media screen and (max-width: 950px) {

    main .perfil .funcionamento{
        width: 40%;
    }

    main .itens .barra-item{
        margin: auto;
        max-width: 90%;
        margin-top: 30px;
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
        background-color: #292929;
        display: flex;
        justify-content: space-between;
    }

    main .itens .containers{
        margin: auto;
        width: 93%;
        background-color: #ffffff;
        padding-top: 20px;
        padding-left: 1px;
        padding-right: 1px;
    }

    main .itens .containers .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    
    main .itens .containers .cards .card{
        cursor: pointer;
        text-align: center;
        width: 95%;
        transition: 0.2s;
        display: flex;
    }
    
}


@media screen and (max-width: 600px){
    /*Cabeça do site*/
    /*Config Botão*/

    
    header nav #botao-mobile{
        display: flex;
        padding: 10px 10px;
        border: none;
        font-size: 1em;
        background:none;
        cursor: pointer;
        gap: 8px;
    }

    /*Config Hamburger*/
    header nav #botao-mobile #hamburger{
        margin-top: 10px;
        display: block;
        border-top: 3px solid;
        width: 30px;
        color: #ffffff;
    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    /*Config Menu header*/
    header .menu-cabeca{
        display: block;
        position: absolute;
        width: 100%;
        top: 40px;
        right: 0px;
        background: #292929;
        height: 0px;
        transition: 0.6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active .menu-cabeca{
        height: calc(100% - 0px);
        visibility: visible;
        overflow-y: auto;
        padding-top: 40px;
    }

    .menu-cabeca a{
       padding: 20px 0;
       margin: 0 40px;
       border-bottom: 2px solid #ffd000;
    }

    header .menu-cabeca a p{
        display: flex;
    }
  

    main .perfil .funcionamento{
        width: 50%;
    }

    main .itens .barra-item{
        margin: auto;
        max-width: 90%;
        margin-top: 30px;
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
        background-color: #292929;
        display: flex;
        justify-content: space-between;  
    }

    main .itens .containers{
        margin: auto;
        width: 95%;
        background-color: #ffffff;
        padding-top: 20px;
        padding-left: 1px;
        padding-right: 1px;
    }

    main .itens .containers .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        width: 100%;
    }
    
    main .itens .containers .cards .card{
        cursor: pointer;
        text-align: center;
        width: 95%;
        transition: 0.2s;
        display: flex;
    }

}

